* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Títulos */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
}

/* Botões */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

/* Botão de adicionar */
button.add {
    background-color: #4CAF50;
}

/* Botão de atualizar */
button.update {
    background-color: #2196F3;
}

/* Botão de remover */
button.remove {
    background-color: #f44336;
}

/* Lista de alunos */
.student-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.student-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.student-item:last-child {
    border-bottom: none;
}

.student-info {
    flex-grow: 1;
    margin-bottom: 10px;
}

button.update, button.remove {
    width: 100%;
    margin-top: 5px;
    flex: 1;
}


/* Estilo para a mensagem de erro */
.error-message {
    color: #f44336;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}


/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    .student-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .student-info {
        margin-bottom: 10px;
    }

    button.update, button.remove {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
}
